@model MMS.Entities.Dtos.Incomming.DepositDTO


<div class="card w-50">
    <form asp-controller="Paypal" asp-action="Deposit" method="post" class="border-1">
        <div asp-validation-summary="All"></div>

        <div class="mt-2 row">
            <label asp-for="Amount"></label>
            <input placeholder="Amount" type="number" asp-for="Amount" class="form-control" />
            <span asp-validation-for="Amount" class="text-danger"></span>
        </div>

        <div class="mt-2 row">
     
        <div class="row p-3">
            <input type="submit" class="btn btn-success m-1" data-bs-dismiss="modal" style="width:150px"></input>
        </div>


    </form>
</div>