@model MMS.Authentication.Models.DTO.Incomming.ChangePasswordDTO
@{
    ViewData["Title"] = "Password Change";
}
<div class="container">

    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <form asp-controller="Profile" asp-action="ChangePassword" method="post" class="border-1">
                        <div asp-validation-summary="All"></div>

                        <div class="mt-2 row">
                            <label asp-for="CurrentPassword"></label>
                            <input placeholder="Cur-Password" type="password" asp-for="CurrentPassword" class="form-control" />
                            <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                        </div>

                        <div class="mt-2 row">
                            <label asp-for="Password"></label>
                            <input placeholder="New-Password" type="password" asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>

                        <div class="mt-2 row">
                            <label asp-for="ConfirmPassword"></label>
                            <input placeholder="New- Confirm Password" type="password" asp-for="ConfirmPassword" class="form-control" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>

                        <div class="row p-3">
                            <input type="submit" class="btn btn-success m-1" style="width:150px"></input>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>


</div>
