@model MMS.Entities.Dtos.Incomming.MessRequestDTO
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add New Mess</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">


                <form asp-controller="Dashboard" asp-action="Create" method="post" class="border-1">
                    <div asp-validation-summary="All"></div>

                    <div class="mt-2 row">
                        <label asp-for="Name"></label>
                        <input placeholder="Enter  Name" type="text" asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <div class="mt-2 row">
                        <label asp-for="StartDate"></label>
                        <input placeholder="Start Date" type="date" asp-for="StartDate" class="form-control" />
                        <span asp-validation-for="StartDate" class="text-danger"></span>
                    </div>

                    <div class="row p-3">
                        <input type="submit" class="btn btn-success m-1" data-bs-dismiss="modal" style="width:150px"></input>
                    </div>


                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>
