
<!-- Modal -->
<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add New Mess</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="input-group mb-3">
                    <input type="text" name="searchBar" id="searchBar" class="form-control" placeholder="Search">
                    <button id="button_for_search" class="btn btn-success" >Go</button>
                </div>
                <div id="MessId" style="display:none">@ViewBag.MessId</div>
                <div id="searchItem" class="row">

                </div>
        </div>
    </div>
</div>
