

<div class="d-flex justify-content-center">
    <div class="align-items-center" style="width:400px">
        <div class="card m-2 border-1 bg-light">
            <div class="card-body">
                <div class=" row">
                    <div class="col-8">
                        <h5><i><b>Current Meal Timeline</b></i></h5>
                    </div>

                    <div class="col-4">
                        <p style="font-size:10px;" class="bg-success m-0 p-2" ><b>Running</b></p>
                        <p style="font-size:10px;" class="bg-info m-0 p-2"><b>Stop</b></p>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="m-1 col-2"></div>
                    <div class="m-1 col-2"></div>
                    <button class="btn btn-sm btn-info m-1 col-2">1</button>
                    <button class="btn btn-sm btn-info m-1 col-2">2</button>
                    <button class="btn btn-sm btn-info m-1 col-2">3</button>
                    <button class="btn btn-sm btn-info m-1 col-2">4</button>
                    <button class="btn btn-sm btn-info m-1 col-2">5</button>

                    <button class="btn btn-sm btn-info m-1 col-2">6</button>
                    <button class="btn btn-sm btn-info m-1 col-2">7</button>
                    <button class="btn btn-sm btn-info m-1 col-2">8</button>
                    <button class="btn btn-sm btn-info m-1 col-2">9</button>
                    <button class="btn btn-sm btn-info m-1 col-2">10</button>

                    <button class="btn btn-sm btn-info m-1 col-2">11</button>
                    <button class="btn btn-sm btn-info m-1 col-2">12</button>
                    <button class="btn btn-sm btn-info m-1 col-2">13</button>
                    <button class="btn btn-sm btn-info m-1 col-2">14</button>

                    <button class="btn btn-sm btn-info m-1 col-2">16</button>
                    <button class="btn btn-sm btn-info m-1 col-2">17</button>
                    <button class="btn btn-sm btn-info m-1 col-2">18</button>
                    <button class="btn btn-sm btn-info m-1 col-2">19</button>
                    <button class="btn btn-sm btn-info m-1 col-2">20</button>
                    <button class="btn btn-sm btn-info m-1 col-2">21</button>

                    <button class="btn btn-sm btn-info m-1 col-2">23</button>
                    <button class="btn btn-sm btn-info m-1 col-2">24</button>
                    <button class="btn btn-sm btn-info m-1 col-2">25</button>
                    <button class="btn btn-sm btn-info m-1 col-2">26</button>
                    <button class="btn btn-sm btn-info m-1 col-2">27</button>
                    <button class="btn btn-sm btn-info m-1 col-2">28</button>

                    <button class="btn btn-sm btn-info m-1 col-2">29</button>
                    <button class="btn btn-sm btn-info m-1 col-2">30</button>
                    <button class="btn btn-sm btn-info m-1 col-2">31</button>
                </div>

                
            </div>
        </div>
    </div>
</div>